.container {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  z-index: -1;
  padding: 0;
  margin: 0;
}
.auth_page {
  background: url("../assets/images/beach.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  align-items: center;
}

h1 {
  font-family: sans-serif;
  color: #f1e1fc;
  z-index: 100;
  margin-top: 1rem;
}

.auth {
  font-family: sans-serif;
  margin: 3rem auto;
  width: 100%;
  max-width: 25rem;
  border-radius: 6px;
  background-color: #595859;
  padding: 1rem;
  text-align: center;
  color: white;
  box-shadow: 0 7px 8px rgba(0, 0, 0, 0.3);
}

.auth h1 {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
}

.control {
  margin: 1.5rem;
}

.control label {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  background-color: #f1e1fc;
  /* color: #; */
  border-radius: 4px;
  border: 1px solid white;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: white;
  background-color: #007bff;
  border: 0px solid;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
  transition: background-color 0.3s ease;
}

.actions button:hover {
  background-color: #e1f7fe;
  color: gray;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: white;
  border: none;
  padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
  background-color: transparent;
  text-decoration: underline;
}

.loading {
  display: flex;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
}
